.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
#Mainlogo {
  margin-bottom: 50px;
  margin-top: 50px;
}

.robotcontain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 100px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(270deg, #880000 0, rgb(0, 0, 0));
}

.nav {
  text-align: center;
}

@font-face {
  font-family: 'SEGA LOGO FONT';
  font-style: normal;
  font-weight: normal;
  src: local('SEGA LOGO FONT'), url('./media/SEGA.woff') format('woff');
}

h1 {
  font-family: 'SEGA LOGO FONT';
  font-weight: 200;
  color: #0ccac4;
}

.Title {
  text-align: center;
  width: 1000px;
}

.f1 {
  width: fit-content;
  font-size: 3rem;
  text-align: center;
  margin: auto;
  color: white;
  display: inline;
  float: left;
}

#logo {
  display: inline;
  width: fit-content;
  float: left;
  margin: 10px;
}

.kosherdiv {
  display: inline;
  color: green;
  font-size: 30px;
  font-weight: bold;
  margin-left: 10px;
}

.search {
  width: fit-content;
  /* float: right; */
  display: inline;
  font-size: 30px;
}

.headcontainer {
  /* display: inline; */
  width: 50%;
  /* width: fit-content; */
  float: left;
}

input#searchbox {
  font-size: 20px;
  height: 10px;
  margin: 10px;
}

.backBTN {
  margin: auto;
  margin-top: 10px;
  margin-right: 40px;
  border-radius: 10px;
}

.whiteText {
  color: white;
}

.maincontainer {
  margin: auto;
  width: 70%;
  text-align: center;
}

#arrow {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .kosherdiv {
    margin-top: 10px;
    /* float: right; */
  }

  .restrict {
    margin-top: 50% !important;
    width: 100% !important;
  }

  #Mainlogo {
    height: auto !important;
  }

  .detailscontainer {

    margin-top: 50% !important;
  }

  h2.f1 {
    display: none;
  }

  input#searchbox {
    width: 55%;
    margin-left: 40px;
  }

  .robotcontain {
    margin-top: 175px;
  }

  .Title {
    display: block;
  }

  .backBTN {
    content: "";
    position: absolute;
    right: 0;
    top: 10px;
  }

  #arrow {
    display: block;
    font-size: 20px;
  }

  #return {
    display: none;
  }

  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    font-size: 20px;
  }

  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  .search {
    float: left;
    margin-left: -50px;
  }

  label {
    font-size: 22px;
  }

}

.addrest {
  color: white;
}

.formContain {
  margin: auto;
  width: 50%;
  text-align: center;
}

.addrest {
  /* width: 50%; */
  margin: auto;
  color: white;
  text-align: left;
  font-size: 20px;
}

.addinput {
  /* display: inline-block; */
  float: right;
}

.buttonContain {
  width: 50%;
  text-align: center;
  margin: auto;
}

.detailscontainer {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

.restrict {
  width: 50%;
  color: white;
  font-size: 60px;
  text-align: center;
  margin: auto;
}

.checked {
  color: orange;
}
.rating {
  margin-top: 20px;
  font-size: 25px;
}

.authcontainer {
  color: white;
  text-align: center;
  /* border: white; */
}
.LoginTitle {
  font-size:50px;
}
.inputs{
  background-color: white;
}

